.conteiner {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
}
input {
    font-size: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;
}
h1 {
    margin-top: 0px;
    color: white;
}
button {
    font-size: 18px;
    text-align: center;
    width: 150px;
    height: auto;
    color:black;
    background-color: grey;
    border-radius: 6px;
}
h6 {
    text-align: right;
    margin-bottom: -10px;
    text-decoration: wavy;
    color: white;
}
#resultado{
    color: white;
}